/* CSS Document */

.multithumb-slider button.dec10,
.multithumb-slider button.dec,
.multithumb-slider button.inc,
.multithumb-slider button.inc10 {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.multithumb-slider button.change line {
  stroke: black;
  stroke-width: 2px;
}

.multithumb-slider .color-group button.change:focus,
.multithumb-slider .color-slider:focus {
  outline: none;
}

.multithumb-slider button.change:focus circle.background,
.multithumb-slider button.change:hover circle.background {
  stroke: #005a9c;
}


.multithumb-slider .hc-background {
  fill: white;
}

.multithumb-slider button.change circle.background {
  fill: #ddd;
  stroke: transparent;
  stroke-width: 2px;
}

.multithumb-slider {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.multithumb-slider .rail-label {
  padding-right: 0.5em;
  text-align: right;
  float: left;
  width: 4em;
  position: relative;
  top: -0.5em;
}

.multithumb-slider .rail-label.max {
  padding-left: 0.5em;
  text-align: left;
}

.multithumb-slider .rail {
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  height: 4px;
  float: left;
}

.multithumb-slider [role="slider"] {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -35px;
}

div.multithumb-slider [role="slider"].focus,
div.multithumb-slider [role="slider"]:hover {
  outline-color: rgb(140, 203, 242);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

div.multithumb-slider .rail.focus {
  background-color: #aaa;
}
